## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [2]:
my_str='Krish123'

In [5]:
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [13]:
str_example='Hello World'
my_str='Krish'

In [14]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [3]:
##mutable vs immutable
str1="Silan"
print(str1)
type(str1)

Silan

str

In [4]:
str1="Sahoo"
print(str1)

Sahoo

In [5]:
str1[0]

'S'

In [6]:
str1[2]

'h'

In [7]:
#string are immutable
str1[2]="jk"

TypeError: 'str' object does not support item assignment

In [8]:
#List:-
type([])

list

In [9]:
##Lists

lst=[1,2,3,4,"Silan","Helllo"]
print(lst)
print(lst[4])

[1, 2, 3, 4, 'Silan', 'Helllo']
Silan

In [10]:
##Lists
##mutable (replace 4rth index)
lst=[1,2,3,4,"Silan","Helllo"]
print(lst)
lst[4]="Sahoo"
print(lst[4])

[1, 2, 3, 4, 'Silan', 'Helllo']
Sahoo

In [7]:
lst=list((1,2,3,4,5)) # Another way to represent list.
print(type(lst))
print(lst)

<class 'list'>
[1, 2, 3, 4, 5]

In [12]:
lst=[1,2,3,4,5]

In [13]:
for i in lst:
    print(i)

1
2
3
4
5

In [14]:
for i in lst:
    print(i**2)

1
4
9
16
25

In [15]:
len(lst)

5

In [16]:
max(lst)

5

In [17]:
min(lst)

1

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [22]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [23]:
len(lst)

6

In [24]:
type(lst)

list

### Append

In [25]:
lst=[1,2,3,4,5]

In [26]:
lst

[1, 2, 3, 4, 5]

In [27]:
#.append is used to add elements in the list at the last position.
lst.append("Silan")
lst

[1, 2, 3, 4, 5, 'Silan']

In [28]:
lst.append(["Soyang","Samparna"]) # Adding another list in a list.
lst

[1, 2, 3, 4, 5, 'Silan', ['Soyang', 'Samparna']]

In [29]:
lst[6]

['Soyang', 'Samparna']

In [30]:
lst[6][1]

'Samparna'

In [31]:
lst[2:6] #Pick the element from 2 index to 6 index

[3, 4, 5, 'Silan']

In [32]:
lst[2:] # From 2 index to onwards

[3, 4, 5, 'Silan', ['Soyang', 'Samparna']]

In [33]:
lst

[1, 2, 3, 4, 5, 'Silan', ['Soyang', 'Samparna']]

In [34]:
##Indexing in List
lst[6]

['Soyang', 'Samparna']

In [35]:
lst[1:6]

[2, 3, 4, 5, 'Silan']

### Insert

In [36]:
lst

[1, 2, 3, 4, 5, 'Silan', ['Soyang', 'Samparna']]

In [37]:
## insert in a specific order

lst.insert(2,"Sahoo")

In [38]:
lst

[1, 2, 'Sahoo', 3, 4, 5, 'Silan', ['Soyang', 'Samparna']]

In [39]:
lst.append(["Hello","World"])

In [40]:
lst

[1, 2, 'Sahoo', 3, 4, 5, 'Silan', ['Soyang', 'Samparna'], ['Hello', 'World']]

In [41]:
lst=[1,2,3]

In [42]:
lst.append([4,5])

In [43]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [14]:
lst=[1,2,3,4,5,6]

In [15]:
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

In [16]:
lst.extend([10,11]) # Extend() adds elements separately.

In [17]:
lst

[1, 2, 3, 4, 5, 6, [8, 9], 10, 11]

### Various Operations that we can perform in List

In [71]:
lst=[1,2,3,4,5]

In [60]:
sum(lst) #It adds all the elements internally.

15

In [61]:
lst*5  #Here the astric(*) append the list 5 times.

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [62]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [63]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [72]:
lst

[1, 2, 3, 4, 5]

### Pop() Method

In [65]:
lst.pop() # pop() pop the element from the last.

5

In [66]:
lst

[1, 2, 3, 4]

In [73]:
lst.pop(2) #pop element through indexing.

3

In [74]:
lst

[1, 2, 4, 5]

### count():Calculates total occurrence of given element of List

In [19]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [20]:
#length:Calculates total length of List
len(lst)

6

In [24]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [78]:
##Min and Max
min(lst)

1

In [79]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [3]:
type({}) # It'll show by default dict type.

dict

In [5]:
type({1,2,3,4,'silan'}) # If we store some value it'll show that's a set type value.

set

In [11]:

print(set([1,2,3,4,5,5])) # Set can't be store duplicate value.

{1, 2, 3, 4, 5}

In [26]:
## Defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [26]:
set_var={1,2,3,4,3}

In [27]:
set_var

{1, 2, 3, 4}

In [28]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [29]:
set_var[1]  #set is not subscripted. so we can't indexing.

TypeError: 'set' object is not subscriptable

In [30]:
for i in set_var:
    print(i)

IronMan
Hitman
Avengers

In [31]:
set_var.add("silan")
print(set_var)

{'IronMan', 'Hitman', 'Avengers', 'silan'}

In [40]:
## Inbuilt function in sets

set_var.add("Hulk")
print(set_var) #It'll shww the item in a sequence manner when we'll print that items.
set_var #But in case the items are presenting like a alphabatical order.

{'Hitman', 'Avengers', 'silan', 'IronMan', 'Hulk'}

{'Avengers', 'Hitman', 'Hulk', 'IronMan', 'silan'}

In [37]:
set_1 = set([4,2,3,1,6,7])
print(set_1)  # In the set the result shows as a sorting format automatically.

{1, 2, 3, 4, 6, 7}

In [38]:
set_1.add(0)
print(set_1) # Here 0 will be store at the 1st position. so that it's called unordered condition.

{0, 1, 2, 3, 4, 6, 7}

In [39]:
set_1

{0, 1, 2, 3, 4, 6, 7}

In [41]:
print(set_var)

{'Hitman', 'Avengers', 'silan', 'IronMan', 'Hulk'}

In [42]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [43]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [44]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [45]:
set2.intersection_update(set1)

In [53]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [54]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [55]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [56]:
## Difference update

set2.difference_update(set1)

In [57]:
print(set2)

{'Hulk2'}

In [59]:
set2.issuperset(set1)

True

In [60]:
set1.issuperset(set2)

False

In [61]:
set1.issubset(set2)

True

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
type({1:"silan"})

dict

In [2]:
dic={}

In [3]:
type(dic)

dict

In [4]:
dict(name="silan", age=24, last_name="sahoo")

{'name': 'silan', 'age': 24, 'last_name': 'sahoo'}

In [5]:
type(dict())

dict

In [6]:
set_ex={1,2,3,4,5}

In [7]:
type(set_ex)

set

In [8]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [9]:
type(my_dict)

dict

In [73]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [10]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [11]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [12]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [13]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [14]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [15]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [16]:
# We can check only keys :-
for x in my_dict.keys():
    print(x)

Car1
Car2
Car3

In [17]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [18]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [19]:
my_dict['Car1']='Maruti'

In [20]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [21]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [22]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [27]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [28]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [30]:
## create an empty Tuples

my_tuple=tuple()

In [31]:
type(my_tuple)

tuple

In [32]:
my_tuple=()

In [33]:
type(my_tuple)

tuple

In [34]:
my_tuple=("Silan","Milan","Pihu")

In [35]:
my_tuple

('Silan', 'Milan', 'Pihu')

In [43]:
my_tuple=('Hello','World')

In [37]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [38]:
type(my_tuple)

tuple

In [39]:
my_tuple[0]

'Hello'

In [46]:
## Inbuilt function
my_tuple.count('Hello')

1

In [44]:
my_tuple.index('World')

1

In [47]:
#Convert to the list:-
list(my_tuple)

['Hello', 'World']